<div class="container">
  <h1>New dose of <%= @cocktail.name  %></h1>
  <%= simple_form_for [ @cocktail, @dose ] do |f| %>
    <%= f.input :description, placeholder: "put your dose"  %>
    <%= f.association :ingredient  %>
    <%= f.button :submit, class: "btn" %>
  <% end %>
</div>